<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Consultant Registration</title>
</head>
<body>
    <div class="container">
        <form action = "\reference\" method = "GET">
        <img src="{% static '/image/Talent2AI Logo.png' %}" alt="" class="logo-image">
        <div class="subtitle">
            <h2>Languages</h2>
        </div>
        <div class="language">
            <div class="input-box">
                <span class="details">Language</span>
                <input type="text" placeholder="Enter Language">
            </div>
            <div class="input-box">
                <label for="language_level" class="details">Level</label>
                <select name="language_level" id="language_level">
                    <option value="Yes">Beginner</option>
                    <option value="No">Intermediate</option>
                    <option value="No">Proficient</option>
                    <option value="No">Expert</option>
                </select>
            </div>
        </div>
        <br>
        <div class="more">
            <button type="button">Add one more language</button>
            <button type="button">Remove one language</button>

        </div>
        <br>
        <div class="button">
            <button type="button">Next</button>
        </div>
    </form>
    </div>
</body>
</html>