<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Consultant Registration</title>
</head>
<body>
    <div class="container">
        <form action = "/work/" method = "GET">
        <img src="{% static '/image/Talent2AI Logo.png' %}" alt="" class="logo-image">
        <div class="subtitle">
            <h2>Skills</h2>
        </div>
        <div class="skills">
            <div class="input-box">
                <span class="details">Skill</span>
                <input type="text" placeholder="Enter Skill" name="name">
            </div>
            <div class="input-box">
                <label for="domain_level" class="details">Level</label>
                <select name="domain_level" id="domain_level">
                    <option value="Yes">Beginner</option>
                    <option value="No">Intermediate</option>
                    <option value="No">Proficient</option>
                    <option value="No">Expert</option>
                </select>
            </div>
        </div>
        <br>
        <div class="more">
            <button type="button">Add one more skill</button>
            <button type="button">Remove one skill</button>
        </div>
        <br>
        <div class="button">
            <input type="submit" name="next">Next</button>
        </div>
    </form>
    </div>
</body>
</html>